<%- include("partials/" + headerName); %>

<section class="content">
  <table>
    <td width="20%">
      <a href="#"><img class="detail_img" src="<%=movie.imgURL%>.jpg" alt="<%=movie.title%>" /></a>
    </td>
    <td class="detail">
      <div class="detail_title"><%=movie.title%></div>
      <div class="detail_content">개봉일: <%=movie.date.toISOString().slice(0,10)%></div>
      <div class="detail_content">장르: <%=movie.genre%></div>
      <div class="detail_content">감독: <%=movie.director%></div>
      <div class="detail_content">출연: <%=movie.cast%></div>
    </td>
    <td class="like">
      <a id="submit" class="detail_like" href="javascript:;">★</a>
    </td>
  </table>
</section>

<script>
  var btn = document.getElementById('submit');

  btn.addEventListener('click', function () {
    if (btn.style.color == 'black') btn.style.color = 'gray';
    else btn.style.color = 'black';
  });
</script>

<%- include("partials/footer"); %>
