<%- include("partials/" + headerName); %>

<section class="content">
  <p class="text"><a>1 YEAR AGO TODAY</a></p>

  <div class="home_img">
    <% if(ago_movies.length == 0) { %>
    <div class="no_result">
      <p class="text">해당 데이터가 없습니다.</p>
    </div>
    <% } else if(ago_movies.length < 4) { ago_movies.forEach(function(movie) { %>
    <a href="/detail/<%= movie._id %>">
      <img class="year_ago_img" src="<%=movie.imgURL%>" alt="<%=movie.title%>"
    /></a>
    <% })} else { for(var i = 0; i < 4; i++) { %>
    <a href="/detail/<%= ago_movies[i]._id %>"
      ><img class="year_ago_img" src="<%=ago_movies[i].imgURL%>" alt="<%=ago_movies[i].title%>"
    /></a>
    <% }} %>
  </div>

  <p class="more">
    <a href="/year/<%=year_ago%>">MORE</a>
  </p>

  <p class="text">
    <a>POPULAR MOVIES THIS WEEK</a>
  </p>

  <% weekly_movies.forEach(function(movie) { %>
  <table class="row">
    <td width="20%">
      <a href="/detail/<%= movie._id %>"
        ><img class="this_week_img" src="<%=movie.imgURL%>" alt="<%=movie.title%>"
      /></a>
    </td>
    <td class="this_week">
      <div class="this_week_title"><%=movie.title%></div>
      <div class="this_week_content">개봉일: <%=movie.date.toISOString().slice(0,10)%></div>
      <div class="this_week_content">장르: <%=movie.genre%></div>
      <div class="this_week_content">감독: <%=movie.director%></div>
      <div class="this_week_content">출연: <%=movie.cast%></div>
    </td>
    <td class="like">
      <a id="submit" class="detail_like" href="javascript:;">★</a>
    </td>
  </table>
  <% }) %>
</section>

<script>
  var btn = document.getElementById('submit');

  btn.addEventListener('click', function () {
    if (btn.style.color == 'black') btn.style.color = 'gray';
    else btn.style.color = 'black';
  });
</script>

<%- include("partials/footer"); %>
