<%- include("partials/header"); %>

<section class="content">
  <p class="text"><a>1 YEAR AGO TODAY</a></p>

  <div class="home_img">
    <% movies.forEach(function(movie) { %>
    <a href="#"
      ><img class="year_ago_img" src="/<%=movie.en_title%>.jpg" alt="<%=movie.title%>"
    /></a>
    <% }) %>
  </div>

  <p class="more">
    <a href="#">MORE</a>
  </p>

  <p class="text">
    <a>POPULAR MOVIES THIS WEEK</a>
  </p>

  <% movies.forEach(function(movie) { %>
  <table class="row">
    <td width="20%">
      <a href="#"
        ><img class="this_week_img" src="/<%=movie.en_title%>.jpg" alt="<%=movie.title%>"
      /></a>
    </td>
    <td class="this_week">
      <div class="this_week_title"><%=movie.title%></div>
      <div class="this_week_content"><%=movie.en_title%>, <%=movie.year%></div>
      <div class="this_week_content"><%=movie.content%></div>
    </td>
  </table>
  <% }) %>
</section>

<%- include("partials/footer"); %>
