<%- include("partials/header"); %>

<section class="content">
  <p class="pop"><a>POPULAR</a></p>

  <div class="popular">
    <% for (var i = 0; i < 15; i++) { %>
    <a href="/detail/<%= movie._id %>"
      ><img class="popular_img" src="/<%=movie.en_title%>.jpg" alt="<%=movie.title%>"
    /></a>
    <% } %>
  </div>
</section>

<%- include("partials/footer"); %>
