<%- include("partials/" + headerName); %>

<section class="content">
  <p class="pop"><a>POPULAR</a></p>

  <div class="popular">
    <% if(movies.length == 0) { %>
    <div class="no_result">
      <p class="text">해당 데이터가 없습니다.</p>
    </div>
    <% } else { movies.forEach(function(movie) { %>
    <a href="/detail/<%= movie._id %>"
      ><img class="popular_img" src="<%=movie.imgURL%>.jpg" alt="<%=movie.title%>"
    /></a>
    <% })} %>
  </div>
</section>

<%- include("partials/footer"); %>
